{{ define "main" }}
<div class="min-h-60vh flex items-center bg-basalt overflow-hidden grid-fade-background">
  <div class="container py-24">
    <div class="max-w-2xl sm-text-center sm-mx-auto">
      <h2 class="mb-2 text-accent flex items-center sm-justify-center">
        {{ .Title }}
      </h2>
      <h1 class="text-title mb-6 mt-4 max-w-xl sm-mx-auto">
        {{ .Params.lead | safeHTML }}
      </h1>
      <p class="sm-mx-auto text-2xl sm-text-3xl text-muted">

      </p>
      <div class="py-6 mt-4 flex items-center gap-6 flex-row sm-justify-center">
        <a href="/cheatsheets/cheatsheets">
          <button class="button button-primary text-base py-3 px-6">
            Cheat Sheets
          </button>
        </a>
        <a href="/shells" class="text-accent font-medium">
          Shells
        </a>
      </div>
    </div>
  </div>
</div>
{{ .Content }}
</section>
{{ end }}
